.tag {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 20px;
}


.big {
    font-size: 12px;
    padding: 5px 10px;
}

.normal {
    font-size: 10px;
    padding: 3px 7px;
}

.ghost {
    border: 1px solid gray;
}

.red {
    background: red;
    color: white;
    font-weight: bold;
}

.grey {
    background: grey;
    color: white;
    font-weight: bold;
}

.green {
    background: greenyellow;
    color: green;
    font-weight: bold;
}

.primary {
    color: black;
    background: none;
    border: black
}
